
<!------ Include the above in your HEAD tag ---------->


<section id="services" class="bg-light pt-100 pb-70">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-5">
            <h2 class="title">What <span>I</span> Do
            </h2>
            <p class=" mt-3 ">CRAZY FULL STACK DEVELOPER WHO WANT TO EXPLORE EVERY TECH STACK.</p>
            <p class=" mt-3 ">⚡ Develop highly interactive Front end / User Interfaces for your web applications.</p>
            <p class=" mt-3 ">⚡ Progressive Web Applications ( PWA ) in normal and SPA Stacks.</p>
            <p class=" mt-3 ">⚡  Web Applications frontend technology and backend .</p>

            <a class="btn btn-primary my-5" href="#">More Info </a>
         </div>
         <div class="col-lg-7">
            <div class="row card-items">
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-laptop"></i>
                        <h5 class="card-title">Web Development</h5>
                        <p class="card-text"> Develop highly intrective webapplication using latest framework and technology .</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-droplet-half"></i>
                        <h5 class="card-title">UX/UI Design</h5>
                        <p class="card-text"> Develop highly interactive Front end / User Interfaces for your web applications.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-envelope-open"></i>
                        <h5 class="card-title"> Digital Marketing</h5>
                        <p class="card-text">we also provide best SEO service and content writing </p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-6">
                  <div class="card">
                     <div class="card-body">
                        <i class="bi bi-phone"></i>
                        <h5 class="card-title"> Mobile App Development</h5>
                        <p class="card-text">Develop intrective design for your App.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="text-center  my-4">
<h1 class="title mb-4 my-4">Proficiency 
</h1>
<div>
<div class="container">
	<div class="row">                   
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
            </div>
            <span class="progress-type">HTML / HTML5</span>
            <span class="progress-completed">60%</span>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (success)</span>
            </div>
            <span class="progress-type">Python</span>
            <span class="progress-completed">60%</span>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">20% Complete (info)</span>
            </div>
            <span class="progress-type">Java</span>
            <span class="progress-completed">20%</span>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete (warning)</span>
            </div>
            <span class="progress-type">Bootstrap</span>
            <span class="progress-completed">60%</span>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="sr-only">80% Complete (danger)</span>
            </div>
            <span class="progress-type">CSS / CSS3</span>
            <span class="progress-completed">80%</span>
        </div>
        <div class="progress">
         <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
             <span class="sr-only">80% Complete (danger)</span>
         </div>
         <span class="progress-type">Django</span>
         <span class="progress-completed">50%</span>
     </div>
     <div class="progress">
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
          <span class="sr-only">60% Complete (warning)</span>
      </div>
      <span class="progress-type">Angular</span>
      <span class="progress-completed">20%</span>
  </div>
	</div>
</div>






<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<main>
   
    
    <div class="container">
        <h1 class="card-title">My past work experience</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline3">
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">2021</span></div>
                        <div class="timeline-content">
                            <h3 class="title">Full Stack Web Developer</h3>
                            <p class="description">
                              Used HTML and CSS for translating desired visual designs to code and JavaScript for adding interactivity to the components and backend python ..
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">2020</span></div>
                        <div class="timeline-content">
                            <h3 class="title">FreeLAncer</h3>
                            <p class="description">
                             Worked as a frelancer content writing , vedio editing , photo editing SEO and many more .
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">2019</span></div>
                        <div class="timeline-content">
                            <h3 class="title">Web Desginer / content Writer</h3>
                            <p class="description">
                              Worked as a frelancer content writing , vedio editing , photo editing SEO and many more .

                            </p>
                        </div>
                    </div>
             
                  
                </div>
            </div>
        </div>
    </div>
    
</main>