
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <h2 class=" aboutus aboutus-title text-center">Contact us</h2>


<div class="row">
  <div class="col-md-8">
      <form action="/post" method="post">
        <input class="form-control " name="name" placeholder="Name..." /><br />
        <input class="form-control" name="phone" placeholder="Phone..." /><br />
        <input class="form-control" name="email" placeholder="E-mail..." /><br />
        <textarea class="form-control" name="text" placeholder="How can we help you?" style="height:150px;"></textarea><br />
        <input class="btn btn-danger" type="submit" value="Send" /><br /><br />
      </form>
  </div>
  <div class="col-md-4">
    <b class="h3">Customer service:</b> <br />
    Phone: 7488211447<br />
    E-mail: <a href="mailto:priyanshuraj9888@gmail.com">priyanshuraj9888@gmail.com</a><br />
    <br /><br />
   

  </div>
</div>

</div>
